@model ITP245_Fall2024_GraysonModel.Team

@{
    ViewBag.Title = "Edit Team";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_Edit", Model)

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</div>
